<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>

<body>
    <div id="main">
        <div id="formulario">
            <p class="mensagem">Cadastre-se</p>
            <form method="post" id="formulario">
                <input type="text" name="name" id="name" placeholder="name">
                <br>
                <br>
                <input type="email" name="email" id="email" placeholder="email">
                <br>
                <br>
                <input type="password" name="password" id="password" placeholder="password">
                <br>
                <br>

                <button type="submit" name="Cadastrar" id="Cadastrar" value="enviar">Cadastrar</button>
            </form>
            <p id="mensagem"></p>
            <script src="{{ url_for('static', filename='script.js') }}"></script>
        </div>

    </div>


</body>

</html>