<!DOCTYPE html>
<html lang="en">
<head>
       <title>Document</title>
</head>
<body>
    <form method="POST" action="/result">
        <input type="text" id="username" name="username" placeholder="username"><br>
        <input type="number" id="cpf" name="cpf" placeholder="CPF"><br>
        <input type="number" id="phone number" name="phone number" placeholder="phone"><br>
        <input type="email" id="email" name="email"placeholder="email">
        <input type="submit" value="enviar">
    </form>
    
</body>
</html>